@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;200;300;400;500;600;700;800;900&display=swap');
body,
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 80vh;
}
.card-body {
  position: relative;
}
.top {
  position: absolute;
  top: 5px;
  right: 5px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.review-number {
  margin: 0.2rem;
}

.card img {
  height: 200px;
  object-fit: contain;
}

.card-body {
  padding: 1.25rem 0.5rem;
}

#besucherzaehler2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0%;
  transform: translateY(50%);
}
.carousel-inner {
  max-width: 40%;
}
.carousel img {
  height: 500px;
  object-fit: contain;
  padding: 30px;
  margin: 40px;
}

/* responsiveness */
@media only screen and (max-width: 1300px) {
  .carousel-caption {
    text-align: center;
    right: 0% !important;
  }
  .carousel-caption h4 {
    font-size: 15px;
  }
  .carousel-caption .btn {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 990px) {
  .carousel-caption h4 {
    font-size: 12px;
  }
  .carousel-caption .btn {
    font-size: 12px;
  }
  .carousel-inner {
    max-width: 50%;
  }
}
@media only screen and (max-width: 760px) {
  .carousel-caption {
    right: 15% !important;
    left: 40% !important;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-inner {
    max-width: 50%;
  }
  .carousel-caption {
    right: 2% !important;
    left: 30% !important;
  }
}
@media only screen and (max-width: 500px) {
  .carousel img {
    height: 300px;
    object-fit: contain;
    padding: 10px;
    margin: 5px;
  }
  .carousel-caption {
    right: 20% !important;
    left: 20% !important;
  }
}

@media only screen and (max-width: 490px) {
  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 400px) {
  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
    transform: translate(2%, 60%);
  }
  .carousel-caption h4 {
    font-size: 12px;
  }
  .carousel-caption .btn {
    font-size: 12px;
    padding: 3px;
  }
  .carousel-inner {
    max-width: 60%;
  }
}
@media only screen and (max-width: 390px) {
  .carousel-inner {
    max-width: 80%;
  }
  .carousel-caption h4 {
    font-size: 10px;
  }
  .carousel-caption .btn {
    font-size: 10px;
    padding: 2.5px;
  }
  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
    transform: translate(1%, 70%);
    padding: 3px;
  }
}
@media only screen and (max-width: 350px) {
}
