@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap");
body,
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* light theme */
body.light-theme {
  color: #222;
  background: #fff;
}
body.light-theme .carousel-control-next {
  filter: invert(100%);
}
body.light-theme .carousel-control-prev {
  filter: invert(100%);
}
body.light-theme h1,
small {
  color: #222;
}
body.light-theme h2 {
  color: #222;
}
body.light-theme h3 {
  color: #222;
}
body.light-theme h4 {
  color: #222;
}
body.light-theme a {
  color: #222;
}
body.light-theme .btn {
  color: #fff;
}
body.light-theme .card {
  box-shadow: 0 2px 5px #ccc;
  background: #fff;
}
body.light-theme .list-group-item {
  background: #fff;
}

/* dark theme */
body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme h1 {
  color: gold;
}
body.dark-theme h2 {
  color: gold;
}
body.dark-theme h3 {
  color: gold;
}
body.dark-theme h4 {
  color: gold;
}
body.dark-theme small {
  color: goldenrod;
}
body.dark-theme .card {
  background: #222;
}
body.dark-theme .list-group-item {
  background: #222;
}
body.dark-theme .form-control {
  background: #222;
}
body.dark-theme .carousel-control-next {
  filter: invert(0%);
}
body.dark-theme .carousel-control-prev {
  filter: invert(0%);
}
body.dark-theme .table {
  color: #fff;
  background-color: #222;
}
body.dark-theme .dropdown-menu {
  color: #fff;
  background-color: #222;
}
body.dark-theme a {
  color: #fff;
}
body.dark-theme a:hover {
  color: gold;
}

html {
  font-size: 100%;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 80vh;
}
.card-body {
  position: relative;
}
.top {
  position: absolute;
  top: 5px;
  right: 5px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 900;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 0;
}

h3 {
  font-size: 1.2rem;
  padding: 0.6rem 0;
}
p {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.review-number {
  margin: 0.2rem;
}

.card {
  text-align: left;
  border-radius: 10px;
  padding: 2%;
  margin: 16px;
}

.card img {
  height: 200px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  background-color: #f5f5f5;
}

.card-body {
  padding: 1.25rem 0.5rem;
  height: 220px;
  overflow-y: auto;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0%;
  transform: translateY(50%);
}
.carousel-caption h4 a {
  color: white;
}

.carousel-caption h4 {
  color: #111;
}
.carousel-inner {
  margin: auto;
  max-width: 40%;
}
.carousel img {
  height: 500px;
  object-fit: contain;
  padding: 30px;
  margin: 40px;
}
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/* Dark mode button */
.dark-btn {
  position: fixed;
  right: 5%;
  align-items: right;
  z-index: 10;
}
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  /*hide default html checkbox*/
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  float: right;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* date picker */
.styles_CarbonDate__3o1KG {
  float: none !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  position: relative !important;
}


/*models avatar */
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow-y: hidden;
}
.avatar img {
  width: 200px;
  object-fit: contain;
}

/* responsiveness */
@media only screen and (max-width: 1300px) {
  .carousel-caption {
    text-align: center;
    right: 0% !important;
  }
  .carousel-caption h4 {
    font-size: 15px;
  }
  .carousel-caption .btn {
    font-size: 15px;
    line-height: 1rem;
  }
}
/* @media only screen and (max-width: 1200px) {
  h3 {
    font-size: 0.9rem;
  }
} */
@media only screen and (max-width: 990px) {
  .carousel-caption h4 {
    font-size: 12px;
  }
  .carousel-caption .btn {
    font-size: 12px;
  }
  .carousel-inner {
    max-width: 60%;
  }
}
@media only screen and (max-width: 780px) {
  .carousel-caption {
    right: 15% !important;
    left: 40% !important;
    max-width: 200px;
  }
  .carousel-inner {
    max-width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-inner {
    max-width: 70%;
  }
  .carousel-caption {
    right: 2% !important;
    left: 30% !important;
    max-width: 150px;
    transform: translate(20%, 50%);
  }
}
@media only screen and (max-width: 500px) {
  .carousel img {
    height: 300px;
    object-fit: contain;
    padding: 10px;
    margin: 5px;
  }
  .carousel-caption {
    right: 20% !important;
    left: 20% !important;
    transform: translate(12%, 50%);
  }
}

@media only screen and (max-width: 490px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.7rem;
    padding: 0.2rem 0;
    margin-bottom: 0.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
    transform: translate(25%, 60%);
  }
  .carousel-caption h4 {
    font-size: 12px;
    max-width: 200px;
  }
  .carousel-caption .btn {
    font-size: 12px;
    padding: 3px;
  }
  .carousel-inner {
    max-width: 60%;
  }
}
@media only screen and (max-width: 390px) {
  .carousel-inner {
    max-width: 80%;
  }
  .carousel-caption h4 {
    font-size: 10px;
  }
  .carousel-caption .btn {
    font-size: 10px;
    padding: 2.5px;
  }
  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
    transform: translate(43%, 70%);
    padding: 3px;
  }
}
@media only screen and (max-width: 350px) {
}
